.box {
  border-radius: 7px;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -5px -5px 10px #d0d0d0, 5px 5px 10px #f0f0f0;
  max-width: 500px;
  height: 150px;
  display: flex;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.infoBox {
  max-width: 600px;
  height: 350px;
  margin-top: 30px;
  width: 100%;
  cursor: auto;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  transition: transform 500ms ease-in-out;
  cursor: auto;
}

.icon:hover {
  transform: scale(1.3);
}

.wrapper {
  display: flex;
}

.infoWrapper {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.imageNameAndEmail {
  display: inline-flex;
}

.name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 40px;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 800;
}

.nameAndEmail {
  display: flex;
  flex-direction: column !important;
  font-weight: 600;
  gap: 8px;
}

.image {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  margin-right: 16px;
}

.infoImage {
  width: 100px;
  height: 100px;
}

.email {
  text-align: left;
}

.list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  font-size: 12px;
  text-transform: uppercase;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 6px 6px 12px #bcbcbc, -6px -6px 12px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  border-radius: 4px;
}

.infoItem {
  margin-left: 25px;
  font-size: 20px;
  cursor: pointer;
}

.tagsTitle {
  text-align: left;
  margin: 10px 0 0;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  visibility: visible;
  opacity: 1;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.modalIcon {
  font-size: 34px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.modal {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 28px;
  font-weight: 500;
  opacity: 1;
  animation: modalAppear 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes modalAppear {
  0% {
    transform: perspective(200px) translate(-50%, -50%) scale(0.1);
  }
  100% {
    transform: perspective(200px) translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width: 767px) {
  .name {
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 900;
  }
}
